@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-fade {
  transform: translateY(20px);
}

.animate-fade.show {
  opacity: 1;
  transform: translateY(0);
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}